/* .carousel-slide {
  height: 500px;
  width: 500px;
  margin: auto;
} */

.carousel-inner {
  height: 500px;
  width: 500px;
  margin: auto;
}

body {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  opacity: 85% !important;
}

.jumbotron {
  opacity: 85% !important;
  width: 500px;
  margin: auto;
}

.card {
  text-align: center;
  position: center;
  margin: auto;
}