#myHeader {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: rgb(255, 254, 254);
}

.carousel-slide {
  height: 1000px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
}

.carousel-inner {
  height: 750px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
}

#carousel1 {
  margin-top: 20px;
}

body {
  font-family: 'Domine', serif;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.322);
  width: 750px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  border-radius: 25px;
}

.card {
  text-align: center;
  position: center;
  margin: auto;
  border-radius: 25px;
}

.picture {
  margin: 2px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#photos{
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.322);
}

#navitems{
  position: fixed;
  right: 10px;
}

.footer {
  background-color: rgb(255, 254, 254);
  width: 100%;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  height: 25px;
  align-content: center;
}

.logo {
  height: 50px;

}

.spacing {
  margin-top: 100px;
  margin-bottom: 60px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.team-title{
  border-style: solid;
  border-width: 2px;
}

.title-spacing {
  margin-top: 40px;
  margin-bottom: 15px;
}

.team-bio{
  margin-top: 30px;
}

.bio-quote {
  font-style: italic;
}

#our-story {
  border-style: solid;
  border-width: 1px;
  padding: 30px;
  margin-bottom: 100px;
}

.input {
  width: 60%;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}

.input:active{
  border-color: none;
  outline: none;
}

textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

#msg {
  height: 100px;
}

#emailbtn {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#emailbtn:hover{
  background-color: rgba(0, 0, 0, 0.11);
}

#emailbtn:active {
  background-color: rgba(0, 0, 0, 0.247);
  outline: none;
}

#emailbtn:focus {
  outline: none;
}

#contactlabel{
  margin-top:-30px;
  margin-bottom: 10px;
}

.fix{
  margin-bottom: -6px;
}

.fa-linkedin{
 

}

.profile-img{
  height: 100px;
  width: 100px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .jumbotron, input[type=submit] {
      width: 80%;
      margin-top: 0;
  }
}