#myHeader {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: rgb(255, 254, 254);
}

.carousel-slide {
  height: 1000px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
}

.carousel-inner {
  height: 750px;
  width: 1000px;
  margin: auto;
  border-radius: 25px;
}

#carousel1 {
  margin-top: 20px;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.322);
  width: 750px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  border-radius: 25px;
}

.card {
  text-align: center;
  position: center;
  margin: auto;
  border-radius: 25px;
}

.picture {
  margin: 2px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#photos{
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.322);
}

#navitems{
  position: fixed;
  right: 10px;
}

.footer {
  background-color: rgb(255, 254, 254);
  width: 100%;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  height: 25px;
  align-content: center;
}

.logo {
  height: 50px;

}